.animal {
  width: auto;
  height: 30vh;
  filter: drop-shadow(5px 5px 2.5px #be602c);
  transition: 0.25s;
}

.animal:hover {
  filter: drop-shadow(10px 10px 5px #be602c);
  transform: scale(1.1);
  transition: 0.25s;
}

.animal-card {
  border-radius: 10px;
  margin-bottom: 3vh;
}

.animal-cards_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 65vw;
}
