.level-background {
  background-position: center;
  background-size: cover;
  border: 8px dashed #be602c;
  height: 40rem;
  width: 40rem;
  position: absolute;
}

.item-1 {
  position: absolute;
  height: 45vh;
  left: 57vh;
  top: 22vh;
}

.item-2 {
  position: absolute;
  height: 12vh;
  left: 43vh;
  top: 36vh;
}

.item-3 {
  position: absolute;
  height: 5vh;
  top: 42.9vh;
  left: 24.7vh;
}

.altreitem-3 {
  position: absolute;
  height: 8vh;
  top: 80vh;
  left: 62vh;
}

.item:hover {
  filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  cursor: pointer;
}
