* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7b393;
  align-items: center;
}

.game-display {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
