.book {
  height: 50vh;
  width: 50vh;
  position: relative;
  transition-duration: 1s;
  perspective: 2500px;
}

input {
  display: none;
}

.cover,
.back-cover {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 5px rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center left;
}

.cover {
  position: relative;
  transition: transform 1s;
  background-color: white;
}

.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.back-cover {
  position: relative;
  z-index: 0;
}

.page {
  position: absolute;
  background-color: white;
  width: 50vh;
  height: 50vh;
  border-radius: 0 15px 15px 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
}

.page img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.front-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.next,
.prev {
  font-size: 20px;
  position: absolute;
  bottom: 1em;
  cursor: pointer;
}

.next {
  right: 1em;
}

.prev {
  left: 1em;
}

.cover {
  position: absolute;
  z-index: 14;
}

#checkbox-0:checked ~ .book {
  transform: translateX(200px);
}

#checkbox-0:checked ~ .book .cover {
  transition: transform 1.5s, z-index 0.5s 0.5s;
  transform: rotateY(-180deg);
  z-index: 0;
}

#checkbox-0:checked ~ .book .page {
  box-shadow: 0 0 3px rgb(99, 98, 98);
}

.cover-image {
  height: 50vh;
  width: 50vh;
  border-radius: 0 15px 15px 0;
}
